* {
  font-family:Arial, Helvetica, sans-serif;
}

.BottomMenuButton {
  height: 50px !important;
}

.SectionHeadline,
.BottomMenuButton__Text {
  position: relative;
  font-size: 20px;
}

.SectionHeadline {
  font-size: 25px;
  display: inline-block;
  margin-left: 1.2em !important;
}

.SectionHeadline:empty {
  display: none;
}

.SectionHeadline:before,
.SectionHeadline:after,
.BottomMenuButton__Text:before,
.BottomMenuButton__Text:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  border: solid;
  border-radius: 50%;
  border-width: 1px;
}

.SectionHeadline:before,
.BottomMenuButton__Text:before {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  left:-0.8em;
}

.SectionHeadline:after,
.BottomMenuButton__Text:after {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  right: -0.8em;
}

.Theming .BottomMenuButton.selected .BottomMenuButton__Text {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: currentColor;
}

.Theming .ContentElementAudio__Picture.picture {
  grid-row: 1;
}

.Theming .ContentElementAudio__Content.content {
  padding-top: 0;
}

.Theming .ContentElementAudio__Distance.distance:before {
  content: "⬤";
  float: left;
  top: 0.5em;
  position: relative;
}

.Theming .Button.button {
  background-color: transparent;
  border: none;
}

.Theming .AudioPlayer {
  background-color: black !important;
  color: white;
}

.Theming .AudioPlayer .icon {
  filter: invert(1);
}

.Theming .AudioPlayer__Expanded__Picture {
  height: 150px;
  width: 150px;
  margin: 16px;
}

.Theming .icon-play {
  background-image: url("icons-gate/play-black.svg");
  width: 2em;
  background-size: 2em;
}
