#INTERKIT_IMAGE_TAG=latest
INTERKIT_IMAGE_TAG=v04-a881029b
INTERKIT_SERVER_URL=https://api.demo.interkit.app
INTERKIT_SERVER_WEBSOCKETS_URL=wss://api.demo.interkit.app/websocket
INTERKIT_SERVER_SERVERSIDE_WEBSOCKETS_URL=ws://server:3000/websocket
INTERKIT_BUNDLER_URL=https://app.demo.interkit.app
INTERKIT_SERVER_HOST=api.demo.interkit.app
INTERKIT_BUNDLER_HOST=app.demo.interkit.app
INTERKIT_ADMIN_HOST=admin.demo.interkit.app
INTERKIT_ADMIN_URL=https://admin.demo.interkit.app
INTERKIT_ADMIN_PASSWORD=password
# input random string in INTERKIT_BUNDLER_PASSWORD 
INTERKIT_BUNDLER_PASSWORD=inPuT_rAnDoM_sTrIng_hEre_9o8et5o8t74857gte1i
