INTERKIT_IMAGE_TAG=latest
INTERKIT_SERVER_URL=http://api.localhost
INTERKIT_SERVER_WEBSOCKETS_URL=ws://api.localhost/websocket
INTERKIT_SERVER_SERVERSIDE_WEBSOCKETS_URL=ws://server:3000/websocket
INTERKIT_BUNDLER_URL=http://app.localhost
INTERKIT_SERVER_HOST=api.localhost
INTERKIT_BUNDLER_HOST=app.localhost
INTERKIT_ADMIN_HOST=admin.localhost
INTERKIT_ADMIN_PASSWORD=password