INTERKIT_SERVER_URL=http://localhost:3000
INTERKIT_SERVER_WEBSOCKETS_URL=ws://localhost:3000/websocket
INTERKIT_SERVER_SERVERSIDE_WEBSOCKETS_URL=ws://server:3000/websocket
INTERKIT_BUNDLER_URL=http://localhost:4000
INTERKIT_ADMIN_PASSWORD=password
INTERKIT_IMAGE_TAG=latest