INTERKIT_SERVER_URL=https://api.demo.interkit.app
INTERKIT_SERVER_WEBSOCKETS_URL=wss://api.demo.interkit.app/websocket
INTERKIT_BUNDLER_URL=https://app.demo.interkit.app
INTERKIT_SERVER_HOST=api.demo.interkit.app
INTERKIT_BUNDLER_HOST=app.demo.interkit.app
INTERKIT_ADMIN_HOST=admin.demo.interkit.app
INTERKIT_ADMIN_PASSWORD=password
