PORT=4000
REPOSITORIES_PATH=
ADMIN_PASSWORD=password
INTERKIT_BUNDLER_URL=http://localhost:4000
INTERKIT_SERVER_URL=http://localhost:3000
INTERKIT_ADMIN_URL=http://localhost:5000
INTERKIT_SERVER_WEBSOCKETS_URL=ws://localhost:3000/websocket
INTERKIT_SERVER_SERVERSIDE_WEBSOCKETS_URL=ws://localhost:3000/websocket
BUNDLER_PASSWORD=eo457zgeno475zgnei578
