.SheetTableContainer .bx--data-table-container {
  height: 400px;
  overflow: auto;
}

.SheetTableContainer .bx--data-table-container thead th {
  position: sticky;
  top: 0;
}

.bx--grid {
  max-width: initial !important; /* remove carbon max width constraint */
}