:root {
  --color-beige: #E3CBAF;
  --color-rose: #D9A7B1;
  --color-lavendel: #9F8CBD;
}

:root, body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

code {
  background-color: #fff;
  border-radius: .3em;
  padding: .1em .2em;
  border: 1px solid #ccc;
}

pre {
  background-color: #fff !important;
  border-radius: .3em;
  padding: .2em;
  padding: 1em;
  border: 1px solid #ccc;
  box-sizing: border-box;
  max-width: calc( 100% - 2em);
  overflow-x: auto;
}

pre code {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  border: 1px solid #ccc;
  padding: .2em;
}

em {
  font-weight: 500;
  font-style:normal;
}

img {
  max-width: 95%;
}

img[src*="?bordered"] {
  border: 1px solid #ccc;
}

@media (min-width: 768px) {
  img[src*="?width50"] {
    width: 50%;
  }
}